
/* ----slider---- */
.slider-btn{
    background: white;
    width: 150px;
    height: 44px;
    margin: auto;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 8px;
    border-radius: 5px;     
}
.slider-btn a{
    text-decoration: none;
    color: tomato;
}
.navbar-title{
    color:#3E3E3E;
    padding: 10px;
}
/* .pakage-box{
    height: 480px;
    width: 232px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius:10px;
} */

.pakage-btn{
    width: 200px;
    height: 44px;
    color: #3f87f5;
    font-weight: bold;
    padding:5px;
    border-radius: 20px;
    border: none;
}
.pakage-box3{
    background-color: #3f87f5;
    border-radius: 10px;
}
footer{
    background-color: #0b0d17;
}
footer p{
    color: #d9dbe1;
}
.slide-info{
    background-color: #3E3E3E;
    position: absolute;
    opacity: 0.7;
}
.slide-info h5{
    font-size: 1.5rem;
    font-weight: bold;
}
.slide-info p{
    font-size: 1rem;
    font-weight: bold;
}

